<ion-content padding="true" class="has-header">
	<div class="list form-wrap">
		<label class="item item-input">
			<input type="text" placeholder="Name" id="name1">
		</label>
		<label class="item item-input">
			<input type="number" placeholder="Phone Number" id="phone_num1">
		</label>
		<label class="item item-input">
			<input type="email" placeholder="EmailId"  id="email1">
		</label>

		<label class="item item-input">
			<textarea placeholder="Comments" id="message1"></textarea>
		</label>
		<button class="button button-block button-positive" data-ng-click="Contact()">
			Contact Us
		</button>
	</div>
	
	
</ion-content> 